<div class="education-container container-block">
  <h2 class="container-block-title">Education</h2>
  <div class="item">
    <h4 class="degree">MSc in Applied Mathematics</h4>
    <h5 class="meta">Åbo Akademi University</h5>
    <div class="time">2011 - 2016</div>
  </div><!--//item-->
  <div class="item">
    <h4 class="degree">Teacher in Mathematics and Physics</h4>
    <h5 class="meta">Åbo Akademi University</h5>
    <div class="time">2011 - 2016</div>
  </div><!--//item-->
</div><!--//education-container-->
