<section class="section experiences-section">
  <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
  <div class="intro">
    <p>Here is a list of my working experiences related to Computer Science.</p>
  </div><!--//intro-->

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Research assistant</h3>
        <div class="time">January 2016 - August 2016</div>
      </div><!--//upper-row-->
      <div class="company">Åbo Akademi</div>
    </div><!--//meta-->
    <div class="details">
      <p>Development of automatically corrected questions for the STACK project (<a src="http://stack.bham.ac.uk/">http://stack.bham.ac.uk/</a>).</p>
    </div><!--//details-->
  </div><!--//item-->

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Internship</h3>
        <div class="time">June 2015 - July 2015</div>
      </div><!--//upper-row-->
      <div class="company">Åbo Akademi</div>
    </div><!--//meta-->
    <div class="details">
      <ul>
  	  	<li>Testing of automatically corrected questions for the STACK project (<a src="http://stack.bham.ac.uk/">http://stack.bham.ac.uk/</a>).</li>
  	  	<li> Work on master's thesis</li>
  	  </ul>

    </div><!--//details-->
  </div><!--//item-->

</section><!--//section-->
