<section class="section experiences-section">
  <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
  <div class="intro">
    <p>Here is a list of my working experiences related to Computer Science.</p>
  </div><!--//intro-->

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Teaching Assistant</h3>
        <div class="time">August 2017 -</div>
      </div><!--//upper-row-->
      <div class="company">Umeå University</div>
    </div><!--//meta-->
    <div class="details">
      <p>Individual assistance, laborations, correcting assignments, etc.</p>
    </div><!--//details-->
  </div><!--//item-->

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Summer Entrepreneur</h3>
        <div class="time">June 2017 - August 2017</div>
      </div><!--//upper-row-->
      <div class="company">Elastisys</div>
    </div><!--//meta-->
    <div class="details">
      <p>Implementation of the Vsphere cloudpool for integrating Elastisys services with VMware.</p>
    </div><!--//details-->
  </div><!--//item-->

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Research assistant</h3>
        <div class="time">May 2017 - August 2017</div>
      </div><!--//upper-row-->
      <div class="company">Umeå University</div>
    </div><!--//meta-->
    <div class="details">
      <p>Changes to the Linux kernel (mainly the deadline scheduler and TCP/IP stack) for the TailTamer project. The goal of this project is to reduce the tail latency of virtual servers consisting of multiple parts.</p>
    </div><!--//details-->
  </div><!--//item-->

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Research assistant</h3>
        <div class="time">January 2016 - August 2016</div>
      </div><!--//upper-row-->
      <div class="company">Åbo Akademi</div>
    </div><!--//meta-->
    <div class="details">
      <p>Development of automatically corrected questions for the STACK project (<a href="http://stack.bham.ac.uk/">http://stack.bham.ac.uk/</a>).</p>
    </div><!--//details-->
  </div><!--//item-->

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Internship</h3>
        <div class="time">June 2015 - July 2015</div>
      </div><!--//upper-row-->
      <div class="company">Åbo Akademi</div>
    </div><!--//meta-->
    <div class="details">
      <ul>
  	  	<li>Testing of automatically corrected questions for the STACK project (<a href="http://stack.bham.ac.uk/">http://stack.bham.ac.uk/</a>).</li>
  	  	<li> Work on master's thesis</li>
  	  </ul>

    </div><!--//details-->
  </div><!--//item-->

</section><!--//section-->
